<form [formGroup]="formPorteros" (submit)="EditarDatos()" class="m-2 text-center justify-content-center p-2">
  <div>
    <input type="text" formControlName="nombre" id="nombre" class="formControl">
    <label for="nombre">Nombre</label>
  </div>
  <div>
    <input type="text" formControlName="apellidos" id="apellidos" class="formControl">
    <label for="apellidos">Apellidos</label>
  </div>
  <div><input type="text" formControlName="ciudad" id="ciudad" class="formControl">
    <label for="ciudad">Ciudad</label>
  </div>
  <div>
    <input type="text" formControlName="email" id="email" class="formControl">
    <label for="email">Email</label>
  </div>
  <div>
    <input type="text" formControlName="telefono" id="telefono" class="formControl">
    <label for="telefono">Telefono</label>
  </div>
  <div>
    <input type="text" formControlName="disponibilidad" id="disponibilidad" class="formControl">
    <label for="disponibilidad">Disponibilidad</label>
  </div>
  <div>
    <input type="text" formControlName="pais" id="pais" class="formControl">
    <label for="pais">Pais</label>
  </div>
  <button class="btn btn-dark m-2" (click)="ActualizarDatos()">Registrar cambios</button>
  <button class="btn btn-dark m-2" (click)="darDebaja()">Eliminar usuario</button>



</form>
